export AWS_ACCESS_KEY_ID="abcdefghiklmnopqrstu"
export AWS_SECRET_ACCESS_KEY="abcdefghiklmnopqrstuabcdefghiklmnopqrstu"
export AWS_ENDPOINT="https://s3.domain.tld:443"
export BUCKET_NAME="trunk-recorder"
export TRANSCRIPTION_ENDPOINT="https://ai.domain.tld/v1/audio/transcriptions"
export DISCORD_WEBHOOK="https://discord.com/api/webhooks/1234567890/abcdefghiklmnopqrstuabcdefghiklmnopqrstu"
export MODEL_NAME="Systran/faster-whisper-medium.en"
